/* ---------- GENERAL ---------- */

/* body {
	background: #d47f7f;
	color: #0e171c;
	font: 300 100%/1.5em 'Lato', sans-serif;
	margin: auto;
} */

a {
	text-decoration: none;
}

.month-dropdown {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.calendar-container {
	min-width: 500px;
	max-width: 500px;
	
	/* height: 538px; */
	/* left: 50%; */
	/* margin: -255px 0 0 -245px; */
    /* position: absolute;
    top: 10%; */
	/* width: 510px; */
	animation-duration: 0.5s;
	animation-name: slidein2;
	/* animation-iteration-count: infinite; */
  
	/* padding: 10px; */
  }
  
  @keyframes slidein2 {
	from {
	  margin-left: -40%;
	  opacity: 0;
	}
  
	to {
	  margin-left: 0%;
	  opacity: 1;
	}
  
}

/* ---------- CALENDAR ---------- */

.calendar {

	padding-top: 20px;
	padding-bottom: 20px;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	
}

.calendar tbody {
	text-align: center;
	color: rgb(90, 94, 97);
}

.calendar tbody td:hover {
	/* border: 2px solid #00addf; */
	cursor: pointer;
	/* border: 2px solid rgb(90, 94, 97); */
	/* border-radius: 30%; */
}
/* .calendar tbody td:active {
	border: 2px solid #df0000;
	cursor: pointer;
} */

.calendar .selected {
	border: 2px solid rgb(90, 94, 97);
	border-radius: 30%;
}

.calendar td {
	border: 2px solid transparent;
	/* border-radius: 50%; */
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: rgb(90, 94, 97);
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid rgb(90, 94, 97);
}

.current-day {
	background: #00addf;
	color: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid rgb(90, 94, 97);
	border-radius: 50%;
	color: rgb(90, 94, 97);
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: rgb(90, 94, 97);
	color: rgb(90, 94, 97);
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

.bottom-button {
	margin: 10px;
}