<div class="calendar-container">
  <div class="calendar component-background">

    <header>
      <h2>{{currentYear}}</h2>
      <a (click)="prevYear()" class="btn-prev fontawesome-angle-left" href="#"></a>
      <a (click)="nextYear()" class="btn-next fontawesome-angle-right" href="#"></a>
    </header>

    <header>
      <div class="dropdown">
        <button class="btn-lg month-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          {{monthNames[currentMonth]}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="#" (click)="selectMonth(i)" class="dropdown-item" *ngFor="let month of monthNames; let i = index">{{month}}</a>
        </div>
      </div>

      <a (click)="prevMonth()" class="btn-prev fontawesome-angle-left" href="#"></a>
      <a (click)="nextMonth()" class="btn-next fontawesome-angle-right" href="#"></a>
    </header>

    <table>
      <thead>
        <tr>
          <td *ngFor="let day of dayNames">{{day}}</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td [ngClass]="{'selected': dateSelected(date), 'td:hover': date==''}" (click)="clickDay(date)" *ngFor="let date of days">{{date}}</td>
        </tr>
      </tbody>
    </table>

    <div class="top-row">
      <button class="btn btn-secondary bottom-button" (click)="goToPrevDay()">Prev Day</button>
      <button class="btn btn-secondary bottom-button" (click)="goToToday()">Today</button>
      <button class="btn btn-secondary bottom-button" (click)="goToNextDay()">Next Day</button>
    </div>

  </div>
</div>
