.container {
    justify-content: center;
    align-items: center;

}
.outer-container {  
    margin-top: 30px;
    /* padding-left: 150px; */
    /* padding-right: 150px;   */

    margin-bottom: 50px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: inherit;
    height: inherit;
}
.inner-container {
    margin: auto;

    overflow: auto;
    max-height: inherit;

}
.tasks-container {
    overflow: auto;
    max-height: inherit;
    transition-duration: 0.5s;
}
.task-container2 {
    transition-duration: 0.5s;

}
.header-divider {
    border-bottom: 1px solid black;
    /* padding: 10px; */
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.left-menu-container {
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1)); */
    padding: 0px;
    margin-right: 15px;
    /* min-height: 1000px; */
    min-width: 200px;
}

.left-menu-items {
    list-style-type: none;
    padding-inline-start: 0px;
}

.left-menu-container .left-menu-items li {
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.left-menu-container .left-menu-items li:hover {
    /* background-color: rgba(255,255,255,0.25); */
    background-color: rgba(0,0,0,0.02);
    color: rgb(0, 81, 255);
}
.left-menu-container .left-menu-items li.active {
    background-color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.05);
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.1);
    color: rgb(32, 103, 255);
}

.button-row {
    margin: 0;
    padding-top: 15px;
}

.create-task {
    margin-left: auto;
}
.today-button {
    margin-right: auto;
}

.tasks-header {
    margin: 0;
}

.top-row {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
}
.outer-box {

    min-width: 770px;
    min-height: 500px;
    margin: 30px;
    width : 100%;
    padding: 25px;
    padding-right: 5%;
    padding-left: 5%;
    margin: auto;
    margin: 0;
    text-align: center;
    overflow: auto;
}
.task-list-title {
    font-size: 25pt;
    font-weight: 500;
    min-width: 400px;
    justify-content: center;

}
.task-list {
    display: block;
    /* max-height: 450px; */
}
.task-item {
    /* width: 90%; */
    /* margin:auto; */
    text-align: start;
}

.task-type-header {
    border-bottom: 2px solid black; 
    padding: 10px; 
    margin-bottom: 30px;
}
.all-tasks-title{
    text-align: start;
    padding: 15px;
    border-bottom: 1px solid black;
    margin: 0;
}

.subheading {
    margin-top: 35px;
    /* margin-bottom: 25px; */
    display: block;
    text-align: start;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.tasks-list{
    /* background-color: rgb(188, 235, 190); */
    margin : 0 auto;
    padding-top : 20px;
    padding-bottom : 20px;
    /* width : 60%; */
    justify-content: center;
    margin-bottom:0px;
}
.add-task {
    margin: 10px 10px 10px 10px;
}

.calendar-component {
    position: absolute;
}
.create-task-component {
    position: absolute;
    max-width: 500px;
    min-width: 350px;
    z-index: 1;
    /* top: 60px; */
    right:40px;    
}
button {
    margin-left: 20px;
}
.col {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.task-details-container {
    border: 1px solid #00000018;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    width: 20%;
}
.task-detail-header {
    text-align: start;
    margin: 10px;
    margin-bottom: 0px;
}
.close-task-detail {
    float: right;
    outline: none;
}
.current-task-name{
    max-width: 75%;
}
.selected-date {
    margin-left: 10px;
    font-size: 0.8rem;
    text-align: start;
    font-style: italic;
}

.slide-in {
    animation-name: slidein;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes slidein {
    0%   {left:500px;}
    100% {left:0px;}
}