<div class="row outer-container">

  <!-- Nav Bar container -->
    <!-- Right side Nav bar -->
    <div class="col-1 left-menu-container">

      <div class="row no-pad">
        <h2>Dashboard</h2>
      </div>

      <ul class="left-menu-items">
        <!-- <label>Views</label> -->
        <li [ngClass]="{active: view==='day'}" (click)="changeView('day')" href="#">Focus View</li>
        <!-- <li [ngClass]="{active: view==='week'}" (click)="changeView('week')" href="#">This week</li> -->
        <li [ngClass]="{active: view==='month'}" (click)="changeView('month')" href="#">Calendar</li>
        <li [ngClass]="{active: view==='all'}" (click)="changeView('all')" href="#">Manage Tasks</li>
        <hr>
        <li [ngClass]="{active: view==='notes'}" (click)="changeView('notes')" href="#">Notes</li>

      </ul>
    </div>
    <!-- End Nav container -->

    <div class="col task-container2">
      <!-- Calendar and Tasks View container -->
      <div class="row flex-nowrap tasks-container">

        <!-- Tasks List Views -->
          <div class="component-background outer-box">

            <!-- Tasks Header -->
            <div *ngIf="view === 'day' || view === 'week' || view === 'month'">
              <div class="row tasks-header">
                <span class="chevron left" (click)="prevDay()"></span>
                <h3 style="width: 300px">{{getTitleDate()}}</h3>
                <span class="chevron right" (click)="nextDay()"></span>

                <div class="today-button">
                </div>
                <div class="create-task">
                  <button class="btn btn-success btn-outline-dark" (click)="goToToday()" href="#">Go to Today</button>
                  <button class="btn btn-success" (click)="showForm=!showForm" href="#">New Task</button>
                  <div class="create-task-component" *ngIf="showForm===true">
                    <app-create-task></app-create-task>
                  </div>
                </div>
              </div>
            </div>

            <!-- Day View -->
            <div class="task-list" *ngIf="view === 'day'">
              <h5 class="subheading">Tasks</h5>
              <div class="task-item" *ngFor="let task of showTasks">
                <app-task-item [taskItem]="task" [day]="day"></app-task-item>
              </div>
            </div>

            <!-- Week View -->
            <div *ngIf="view === 'week'">
              <app-daily-tasks-table (open)="onWeekClick($event)"></app-daily-tasks-table>
              <!-- End Week Daily Table -->
            </div>

            <!-- Month View -->
            <div *ngIf="view === 'month'">
              <app-month-view-table (open)="onMonthClick($event)"></app-month-view-table>
            </div>

            <!-- Summary View -->
            <div class="task-list" *ngIf="view === 'all'">
              <h3 class="all-tasks-title">Manage Tasks</h3>
              <div class="task-item" *ngFor="let task of allTasks">
                <app-task-item-summary [taskItem]="task"></app-task-item-summary>
              </div>
            </div>

            <!-- Summary View -->
            <div class="task-list" *ngIf="view === 'notes'">
              <app-notes-view></app-notes-view>
            </div>

          </div>
        <!-- End Tasks View -->

      </div>
      
      <!-- End Calendar and Tasks View container -->
    </div>


    <div id="taskDetailContainer" *ngIf="!!currentTask && view === 'month'" class="task-details-container">
      <div class="task-detail-header">
        <label class="current-task-name"><h6>{{currentTask.name}}</h6></label>
        <button (click)="currentTask=null" class="btn-secondary btn-sm close-task-detail">hide</button>
      </div>
      <div class="selected-date">
        <label>{{selectedDate.toDateString()}}</label>
      </div>
      <app-task-details [task]="currentTask"></app-task-details>
    </div>
</div>
