
.outer-container {
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    
}

.tab-container {

    margin: 30px;
    width : 70%;
    margin: auto;
}
.nav-link {
    color: rgb(90, 94, 97);
}
.create-tab {
    float: right;
}
.nav-item :hover{
    background-color: rgba(255, 255, 255, 0.25);
    
}

.nav-item .create-task:hover {
    background-color: rgba(22, 212, 48, 0.25);
}
.active {
    background-color: rgba(255, 255, 255, 0.25);
}
.nav {
    font-size: 16pt;
    
    
}
.active {
    
}

.header {
    text-align: center;
}
.container {
    justify-content: center;
    align-items: center;
}
.top-row {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;

}
.task-list-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30pt;
    font-weight: 500;
    min-width: 400px;

}

.task-type-header {
    border-bottom: 2px solid black; 
    padding: 10px; 
    margin-bottom: 30px;
}
.outer-box {
    margin: 30px;
    width : 100%;
    padding: 20px;
    margin: auto;


}
  
  
.create-task-component {
    position: absolute;
    max-width: 500px;
    z-index: 1;
    top: 50px;
    backdrop-filter: blur(5px);
    
}

.tasks-list{
    /* background-color: rgb(188, 235, 190); */
    margin : 0 auto;
    padding-top : 20px;
    padding-bottom : 20px;
    /* width : 60%; */
    justify-content: center;
}
.list-item {
    text-align: left;
    align-items: center;
    padding-bottom : 10px;
    outline-color: black;

}
.add-task {
    margin: 10px 10px 10px 10px;
}
.task-name {
    word-break: break-word;
}
.button {
    padding : 5px;
}

thead {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	
}
table {
    width: 100%;
    table-layout: fixed;
}

.calendar-component {
    position: absolute;
}