
.outer-container {  
    margin-top: 30px;
    /* padding-left: 150px; */
    /* padding-right: 150px;   */
    margin-bottom: 50px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.flex-reverse {
    flex-wrap:wrap-reverse;
}
.left-menu-container {
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1)); */
    padding: 0px;
    margin-right: 15px;
    /* min-height: 1000px; */
    min-width: 200px;
    
}
.left-menu-items {
    list-style-type: none;
    padding-inline-start: 0px;
    /* padding:10px; */
    /* text-align: left; */
    /* padding-left:5px; */
    /* margin: 10px; */
}
.left-menu-container .left-menu-items li {
    display: block;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    border-left: 2px solid rgba(0,0,0,0.1);
    

    /* margin: 10px; */
}

.left-menu-container .left-menu-items li:hover {
    /* background-color: rgba(255,255,255,0.25); */
    background-color: rgba(0,0,0,0.02);
    color: rgb(0, 81, 255);
}
.left-menu-container .left-menu-items li.active {
    background-color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.05);
    box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.1);
    color: rgb(32, 103, 255);
}

.button-row {
    margin: 0;
    padding-top: 15px;
}

.create-task {
    margin-left: auto;
}
.today-button {
    margin-right: auto;
}

.tasks-header {
    margin:0;

    /* display: inline-flex; */
    /* text-align: left; */
    /* padding-left: 25px;
    padding-right: 25px; */
    /* margin: auto;     */

}
.container {
    justify-content: center;
    align-items: center;
}
.top-row {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;

}
.task-list-title {
    font-size: 25pt;
    font-weight: 500;
    min-width: 400px;
    justify-content: center;

}
.task-list {
    display: block;
    /* max-height: 450px; */
    overflow-y: auto;
}
.task-item {
    /* width: 90%; */
    /* margin:auto; */
    text-align: start;
}

.task-type-header {
    border-bottom: 2px solid black; 
    padding: 10px; 
    margin-bottom: 30px;
}
.all-tasks-title{
    text-align: start;
    padding: 15px;
    border-bottom: 1px solid black;
    margin: 0;
}

.outer-box {
    min-width: 770px;
    min-height: 500px;
    margin: 30px;
    width : 100%;
    padding: 25px;
    margin: auto;
    margin: 0;
    text-align: center;
}

.subheading {
    margin-top: 35px;
    /* margin-bottom: 25px; */
    display: block;
    text-align: start;
    font-weight: 600;
    border-bottom: 1px solid black;
}
/* .task-separator {
    border-bottom: 1px solid grey; 
    width: 90%; 
    margin: auto
} */
.create-task-component {
    position: absolute;
    max-width: 500px;
    min-width: 350px;
    z-index: 1;
    /* top: 60px; */
    right:40px;    
}

.tasks-list{
    /* background-color: rgb(188, 235, 190); */
    margin : 0 auto;
    padding-top : 20px;
    padding-bottom : 20px;
    /* width : 60%; */
    justify-content: center;
    margin-bottom:0px;
}
.add-task {
    margin: 10px 10px 10px 10px;
}
.button {
    padding : 5px;
}

thead {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

table {
    width: 100%;
    max-height: 500px;
    table-layout: fixed;
    overflow-y: auto;
}

td {
    vertical-align: top;
}

.calendar-component {
    position: absolute;
}
.day-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
td {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.week-task-item {
    display: flex;
    /* align-self: flex-start; */
    text-align: left;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    max-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table {
    overflow-y: scroll;
}
.task-name {
    overflow: hidden;
    font-size: 9pt;
}
.week-task-item .checked2 {
    display: inline-block;
    position: absolute;
    /*Add another block-level blank space*/
    content: '';
    /* display: block; */
  
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 25px;
    height: 55px;
  
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid rgba(16, 187, 39,0.65);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    /* left: 35%;
    top: 30%; */
    margin:auto;
    z-index: -1;
}

.checkbox2{
    display: block;
    position: relative;
    /* right: 65%; */
    /* top: 30px; */
}

.week-task-item:hover {
    /* border: 1px solid black; */
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    background: rgba(255,255,255,0.25);
    transform: scale(1.05);
    transition-duration: 0.2s;
    cursor: pointer;
}

.no-pad {
    padding: 0px;
    margin: 0px;
}
.notes-view{
    text-align: start;
    /* padding: 10px; */
}

.header-divider {
    border-bottom: 1px solid black;
    /* padding: 10px; */
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}