<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-app-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="top-nav-bar row">
      <a class="navbar-brand" href="#">Calendar 1.0</a>
          <a class="nav-item nav-link active" href="#">Dashboard<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Insights</a>
          <a class="nav-item nav-link" href="#">Profile</a>
    </div>
  </nav>
  <div class="app-container">
    <app-tasks></app-tasks>
  </div>

</div>
