<div class="notes-container">

  <h3 class="task-list-title">Notes</h3>
  <div class="notes-list">
      <p> These are any notes you want to write down that aren't really anything you should complete or do.
        These could be ideas, reminders to yourself, or even a task that's not bound by a date.</p>
      <ul class="task-item" *ngFor="let note of notes">
        <li>{{note}}</li>
      </ul>
      <div *ngIf="openInput">
        <form (keyup.enter)="addNote(); openInput = false">
          <input name="taskName" [(ngModel)]="newNote" type="text" class="form-control" id="name" required>
        </form>
      </div>
      <div *ngIf="!openInput" class="add-note-button" (click)="openInput = true">
          <button class="btn btn-secondary">
              <!-- <img style="width:20px" src="/src/open-iconic-master/svg/plus.svg" alt="add note"> -->
              <span>Add</span>
          </button>
      </div>
  </div>
  
</div>
