.create-task-container {

  padding: 20px;
  animation-duration: 0.5s;
  animation-name: slidein;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
  /* padding: 10px; */
}

.task-name .taskname {
  text-align: start;
}

@keyframes slidein {
  from {
    margin-top: -5%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}


.month-dropdown {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  min-width: 100px;
  height: 100%;
}

.dropdown-menu-month {
  height: 300px;
  overflow-y: auto;
}

.dropdown-menu-year {
  height: 300px;
  overflow-y: auto;
}

.dropdown-menu-date {
  height: 300px;
  width: 50px;
  overflow-y: auto;
}

.dropdown {
  padding: 5px;
}

.dropdown-item {
  font-size: 10pt;
}

.repeat-radio {
  padding-left: 25px;
  padding-right: 10px;
}

.day-selector {
  display: inline-block;
  border: 1px solid rgb(200,200,200);
  margin: 2px;
  width: 40px;
  cursor: pointer;
  user-select: none; 
}
.selected {
  border: 1px solid rgb(0,150,0);
  color: rgb(0,150,0);
}
button {
  outline: none;
}
