
.create-task-container {

    padding: 20px;
    animation-duration: 0.5s;
  animation-name: slidein;
  /* animation-iteration-count: infinite; */

  /* padding: 10px; */
}

@keyframes slidein {
  from {
    margin-top: -5%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}
    

.month-dropdown {
	border: 1px solid black;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    min-width: 100px;
    height: 100%;
}

.dropdown-menu-month {
    height: 300px;
    overflow-y: auto;
}

.dropdown-menu-year {
    height: 300px;
    overflow-y: auto;
}

.dropdown-menu-date {
    height: 300px;
    width: 50px;
    overflow-y: auto;
}

.dropdown-item {
    
}
.dropdown{
    padding: 5px;
}

.dropdown-item {
    font-size: 10pt;
}
