.task-container {
  /* margin-bottom: 10px; */
  transition-duration: 0.3s;
  /* padding: 10px; */
  /* border-top: 1px solid grey; */
  /* border-left: 1px solid grey; */
  /* border-bottom: 1px solid grey; */
  /* border-right: 1px solid grey; */
  margin: 10px;

  /* width: 90%; */

  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
  /* margin-bottom: 15px; */
  /* min-height: 80px; */
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.25);
    /* cursor: pointer; */


}

.hover {
  /* border: 1px solid black; */
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.25);
  /* cursor: pointer; */
}

.selected {
  /* border: 1px solid gray; */
}

.center {
  text-align: center;
}

.row2 {
  display: flex;
  padding: 15px;
  
}

.checked {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  /*Add another block-level blank space*/
  content: '';
  /* display: block; */

  /*Make it a small rectangle so the border will create an L-shape*/
  width: 10px;
  height: 22px;

  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid rgb(16, 187, 39);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  left: 10px;
  transition-duration: 0.2s;

}

.list-item {

  text-align: left;
  align-items: center;
}

.task-col {
  text-align: left;
}

.check-button {
  /* text-align: right; */
  /* padding-right: 20px; */
}

.task-name {
  /* margin-left: 10px; */
  font-size: 10pt;
  text-align: left;
  word-wrap: break-word;

}

input {
  vertical-align: middle;
}

label {
  margin-bottom: 0px;
}

.btn {
  font-size: 10pt;
}
