.outer-container {
    display: flex;
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    /* margin: 10px; */
    font-size: 10pt;
    background: rgba(0, 0,0, 0.1);
}

.inner-container{
    width: 100%;
}
.delete-button {
    float: right;
}