<div class="outer-container">
  <div class="inner-container">
    <label><b>Description</b></label>
    <!-- <button (click)="editDescription=!editDescription" class="btn-sm btn btn-light" style="padding: 2px; float: right;">edit</button> -->
    <div *ngIf="!editDescription" class="">
      <p>{{task.description}}</p>
    </div>

    <label class="tite-header"><b>Task Details</b></label>
    <div class="task-details">
      <p>Starting: {{task.startDate.toDateString()}}</p>
      <p>Ending: {{task.endDate.toDateString()}}</p>
      <p>Completed So far: {{task.doneCount}}/{{task.count}}</p>
    </div>

    
    <label class="title-header"><b>Task Notes</b></label>
    <button (click)="editNotes()" class="btn-sm btn btn-light" style="padding: 2px; float: right;">{{editButton}}</button>
    <div [hidden]="showInput" id="notesbox" class="description-box">
      <p class="notes-text">{{newNote}}</p>
    </div>
    
    <textarea id="textarea" [hidden]="!showInput" class="notes-area" name="taskName" [(ngModel)]="newNote" (keydown)="autogrow()"></textarea>

    <div>
      <button class="btn btn-danger delete-button" (click)="deleteTask()">Delete</button>
    </div>

  </div>
</div>
