<div class="task-container" [ngClass]="{'hover' : show, 'selected' : taskItem.showDetails}" (mouseover)="show=true"
  (mouseout)="show=false">

  <div class="list-item" (click)="taskItem.showDetails=!taskItem.showDetails">

    <!-- Task Name Div -->
    <div class="row">
      <div class="col task-col">
        <label class="task-name">
          {{taskItem.name}}
        </label>
      </div>
      <div class="col task-col">
        <label class="task-type">
          {{taskItem.type}}
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>{{taskItem.startDate.toDateString()}} - {{taskItem.endDate.toDateString()}}</label>
      </div>
      <div class="col">
        <label style="float:right">{{getStatus()}}</label>
      </div>
    </div>


  </div>
  <!-- End Task Name Div -->

  <!-- Task Details component -->
  <div *ngIf="taskItem.showDetails">
    <div>
      edit
    </div>
  </div>
</div>
<!-- <h3 class= "task-separator"></h3> -->
