/* You can add global styles to this file, and also import other style files */
.component-background {
    background: rgba(0,0,0,0.04);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

.modal-background {
    background: rgba(255,255,255,0.95);
}

.chevron {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1.4em;
	position: relative;
	top: 0.75em;
	transform: rotate(-45deg);
	vertical-align: top;
    width: 1.4em;
    cursor: pointer;

}

.chevron.bottom {
	transform: rotate(45deg);
}

.chevron.left {
	transform: rotate(-135deg);
}

.chevron.right {
	transform: rotate(45deg);
}

* {
	/* font-family: 'Assistant', sans-serif; */
	font-family: 'IBM Plex Sans', sans-serif;
}